body {
    font-family: 'Titillium Web';
    background-color: hsl(43, 57%, 93%);
    margin: 0;
    display: grid;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 25px;
}

#gornaBelka {
    width: 100%;
    font-size: .75rem;
    font-weight: 600;
    padding: 0 1rem;
    z-index: 9;
    color: #4e42d4;
    position: fixed;
    left: 0;
    top: 0;
    height: 2.75rem;
    padding: 10px 10px;
    display: flex;
    float: left;
    height: auto;
    background-color: #4e42d4;
}

.dropdown button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 20px;
    padding: 2px;
    margin-left: 30px;
    display: flex;
    font-size: 20px;

}

.dropdown a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
.dropdown .zawartosc{
    display: none;
    margin-top: 25px;
    margin-left: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px black;

}

.zawartosc{
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

#glowa{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
}

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

#hamburger span {
    height: 4px;
    background-color: black;
    border-radius: 2px;
}


#menu {
    position: absolute;
    top: 45px;
    left: 0;
    width: 20%;
    font-size: .75rem;
    font-weight: 600;
    padding: 0 1rem;
    z-index: 9;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#menu.ukryta {
    display: none;
}

#menu.widoczna {
    display: block;
}

#menu a{
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}


#nazwaStrony {
    font-size: 400%;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 30px 0;
}

#boxInterwaly{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
.interwaly{
    font-weight: bolder;
    font-size: 2.5em;
    cursor: pointer;

}
.interwalyactive{
    color: #4e42d4;
    background-color: #f0eaff;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.2s ease-in-out;

}

#startPrzycisk{
    display: flex;
    margin: auto;
    font-size: 2.5em;
    background-color:#4e42d4;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;

}
#okno{
    border: solid 2px black;
    width: 65%;
    justify-content: center;
    background-color: black;
    height: 200px;
    padding: 20px;
    color: white;
    margin: auto;
    border-radius: 15px;
}
.interwaly:hover{
    color: #4e42d4;
}
.dropdown:hover .zawartosc{
    display: block;
}
.widoczna{
    display: block;
}
.ukryta{
    display: none;
}
